body {
  background: #111;
  color: #f8f8f8;
  margin: 0;
  font-family: minecraftia, sans-serif;
}
.jukebox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  height: 50%;
}
.now-playing {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 200%;
  background: linear-gradient(to right, #66f, #09f, #0f0, #f39, #66f);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400% 100%;
  animation: 6s rainbow ease-in-out infinite;
  display: none;
  text-align: center;
}
.discs {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0px 5px;
  overflow-y: auto;
  background: #222;
}
.discs .disc {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}
.discs .disc .disc-image {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-drag: none;
  height: 60px;
}
.discs .disc .disc-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 100%;
}
@font-face {
  font-family: minecraftia;
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/minecraftia.ttf") format("truetype");
}
@-moz-keyframes rainbow {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}
@-webkit-keyframes rainbow {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}
@-o-keyframes rainbow {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}
@keyframes rainbow {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}
